{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CodeWithDharti{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
    </head>
<body>
    <!-- Top Navigation Bar -->
    <!-- Navigation Container -->
    <div class="nav-container">
        <!-- Top Navigation Bar -->
        <nav class="top-nav">
            <div class="logo">CodeWithDharti</div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'tutorial' %}">Tutorials</a></li>
                <li><a href="{% url 'notes' %}">Notes</a></li>
                <li><a href="{% url 'codegallary' %}">Code Gallery</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="#" id="theme-toggle"><i class="fa-solid fa-moon"></i></a></li>
            </ul>
        </nav>

        <!-- Secondary Navigation Bar -->
        <nav class="secondary-nav">
            <ul>
                <li><a href="{% url 'notes' %}">Notes</a></li>
                {% for lang in languages %}
                <li><a href="{% url 'lang-detail' lang.slug %}">{{ lang.langname }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>


    <!-- Main Content Area -->
    <div class="container">
        {% block content %}
        <!-- Block for extending content will go here -->
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 CodeWithDharti. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

<script>
    const themeToggleButton = document.getElementById('theme-toggle');
    const body = document.body;
  
    // Check if a theme is stored in localStorage and apply it
    const currentTheme = localStorage.getItem('theme');
    if (currentTheme) {
      body.classList.add(currentTheme);
    }
  
    themeToggleButton.addEventListener('click', function() {
      body.classList.toggle('dark-mode');
  
      // Save the current theme in localStorage
      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('theme', 'dark-mode');
      } else {
        localStorage.setItem('theme', '');
      }
    });
  </script>
  