{% extends 'card.html' %}
{% load static %}
    {% block title %}Code Gallary{% endblock %}
    {% block content %}
    <div class="container">
        <div class="code-idea">
            {% for codeidea in codeideas %}
                <div class="code-card">
                    {% if codeidea.image %}
                        <img src="{{ codeidea.image.url }}" alt="{{ codeidea.title }}" onclick="openModal('{{ codeidea.id }}')">
                    {% endif %}
                    <h2>{{ codeidea.title }}</h2>
                    {% if codeidea.content %}
                        <p>{{ codeidea.content }}</p>
                    {% endif %}
                </div>
    
                <!-- Modal Structure -->
                <div id="modal-{{ codeidea.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('{{ codeidea.id }}')">&times;</span>
                        <img src="{{ codeidea.image.url }}" alt="{{ codeidea.title }}" class="modal-image">
                        <h2>{{ codeidea.title }}</h2>
                        <p>{{ codeidea.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        // Open the modal
        function openModal(id) {
            var modal = document.getElementById('modal-' + id);
            modal.style.display = "block";
        }
        
        // Close the modal
        function closeModal(id) {
            var modal = document.getElementById('modal-' + id);
            modal.style.display = "none";
        }
        
        // Close the modal when clicking outside the modal content
        window.onclick = function(event) {
            var modals = document.getElementsByClassName('modal');
            for (var i = 0; i < modals.length; i++) {
                if (event.target == modals[i]) {
                    modals[i].style.display = "none";
                }
            }
        }
        </script>
        
    {% endblock %}


