{% extends 'card.html' %}
{% load static %}
    {% block title %}Notes{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>

            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Download Python Notes Here</p>
                        <button class="btn-primary">Download</button>
                    </div>
                </div>
            </div>
            

            
    </div>
    {% endblock %} 
