{% extends 'card.html' %}
{% load static %}
    {% block title %}Tutorials{% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/pythonlogo.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Python Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/django.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Django Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/flask.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Flask Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/fastapi.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Fastapi Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/html.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">HTML Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/css.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">CSS Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="{% static 'images/ai.png' %}" class="card-img-top" alt="Python Tutorial">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">AI Tutorial</p>
                        <button class="btn-primary">Start Learning!</button>
                    </div>
                </div>
            </div>            
    </div>
    {% endblock %} 
